announcement-entrance {
    .cardContainer{
        height: 100px;
        background-color: #FFF;
    }
    .divContainer{
        height: 100px;
        width:100%;
    }
   .divLeft {
     width: 20%;
     height: 100%;
     float: left;
     display: -webkit-box;
     -webkit-box-align: center;
   }
   .divRight {
     width: 80%;
     height: 100%;
     float: right;
   }
}
