page-serverip-setting {
  ion-content {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-color: transparent;
    }
    .toolbar-background { background-color:transparent !important; }

    .logo {
      width: 50%;
      height: auto;
      margin: 0 auto;
      padding-bottom: 50px;
    }
    .no-border {
      border-bottom: 0 !important;
      box-shadow: none !important;
    }
  ion-row {
    align-items: center;
    text-align: center;
  }
  ion-col {
    padding: 0 20px;
  } 
  // Input items
  ion-label{
    font-size: 1.3em; 
    color: black !important;
    .input-has-focus {
      color: #333333 !important; 
    }
  }   
  ion-list {
    margin: 0;
  }  
  ion-item {
    padding-right: 16px !important;
    margin-bottom: 5px !important;
    background-color: transparent !important;   
    opacity: 0.7;
    font-size: 0.9em;
  } 

}
