page-tabs-notification {
  .list ion-item-sliding {
    border-bottom: 1px solid #E2DCDC;
    margin-left: 10px;
  }
  ion-note {
    font-size: 12px;
    align-self: flex-start;
  }
  .avatar {
    position: relative;
  }
  .avatar-badge {
    position: absolute;
    top: 5%;
    right: calc(20% - 5px);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: red
  }
}
